<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>Zip splitter</title>
</head>
<body>
	<h1 style="text-align: center">Save hourly splits as zip</h1>
	<div class="content">
	<div class="form">
		<form action="/zipsplit" enctype="multipart/form-data" method="POST">
			<table class="bordered">
				<tr class="bordered">
					<td>
						Filter out minimum heart rate
					</td>
					<td>
						<input type="checkbox" id="hr_min_enable" name="hr_min_enable">
					</td>
					<td>
						<input type="number" id="hr_min" name="hr_min" min="{{ ranged['hr'][0] }}" max="{{ ranged['hr'][1] }}" value="0">
					</td>
				</tr>
			</table>
			<label for="files">File(s) to upload</label>
			<input type="file" id="files" name="files[]" multiple="">
			<input type="submit" value"Evaluate">
		</form>
	</div>
	<br/>
	<a href="/">Back</a>
	</div>
</body>
</html>
